@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Source+Serif+Pro:wght@300&display=swap');
$main-font: 'Source Serif Pro',
serif;
$special-font:'Karla',
sans-serif;
$bg-main-color: #ffffff;
$font-color-special: #222222;
$links-hover-color: #b69085;
$bg-article-color: #fafafa;
$bg-special-color: #f4f0ef;